html{
  margin: 0;
  padding: 0;
  background-image:linear-gradient( to bottom,rgba(4, 1, 9, 0.821),rgba(21, 3, 25, 0.5)), url("./assets/img/stars-background.jpg");
  background-size: cover;
  box-sizing: border-box;
  background-size: 100%; 
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
